/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

*, *:before, *:after {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
@media (min-width: 768px) {
  html {
    font-size: 1.125em;
  } 
}
@media (min-width: 990px) {
  html {
    font-size: 1.25em;
  } 
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
	color: brown;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   RWD classes fom bootstrap
   ========================================================================== */

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1 {
  float: left;
  width: 8.333333%;
}

.col-xs-2 {
  float: left;
  width: 16.666667%;
}

.col-xs-3 {
  float: left;
  width: 25%;
}

.col-xs-4 {
  float: left;
  width: 33.333333%;
}

.col-xs-5 {
  float: left;
  width: 41.666667%;
}

.col-xs-6 {
  float: left;
  width: 50%;
}

.col-xs-7 {
  float: left;
  width: 58.333333%;
}

.col-xs-8 {
  float: left;
  width: 66.666667%;
}

.col-xs-9 {
  float: left;
  width: 75%;
}

.col-xs-10 {
  float: left;
  width: 83.333333%;
}

.col-xs-11 {
  float: left;
  width: 91.666667%;
}

.col-xs-12 {
  float: left;
  width: 100%;
}

.pull-xs-0 {
  right: auto;
}

.pull-xs-1 {
  right: 8.333333%;
}

.pull-xs-2 {
  right: 16.666667%;
}

.pull-xs-3 {
  right: 25%;
}

.pull-xs-4 {
  right: 33.333333%;
}

.pull-xs-5 {
  right: 41.666667%;
}

.pull-xs-6 {
  right: 50%;
}

.pull-xs-7 {
  right: 58.333333%;
}

.pull-xs-8 {
  right: 66.666667%;
}

.pull-xs-9 {
  right: 75%;
}

.pull-xs-10 {
  right: 83.333333%;
}

.pull-xs-11 {
  right: 91.666667%;
}

.pull-xs-12 {
  right: 100%;
}

.push-xs-0 {
  left: auto;
}

.push-xs-1 {
  left: 8.333333%;
}

.push-xs-2 {
  left: 16.666667%;
}

.push-xs-3 {
  left: 25%;
}

.push-xs-4 {
  left: 33.333333%;
}

.push-xs-5 {
  left: 41.666667%;
}

.push-xs-6 {
  left: 50%;
}

.push-xs-7 {
  left: 58.333333%;
}

.push-xs-8 {
  left: 66.666667%;
}

.push-xs-9 {
  left: 75%;
}

.push-xs-10 {
  left: 83.333333%;
}

.push-xs-11 {
  left: 91.666667%;
}

.push-xs-12 {
  left: 100%;
}

.offset-xs-1 {
  margin-left: 8.333333%;
}

.offset-xs-2 {
  margin-left: 16.666667%;
}

.offset-xs-3 {
  margin-left: 25%;
}

.offset-xs-4 {
  margin-left: 33.333333%;
}

.offset-xs-5 {
  margin-left: 41.666667%;
}

.offset-xs-6 {
  margin-left: 50%;
}

.offset-xs-7 {
  margin-left: 58.333333%;
}

.offset-xs-8 {
  margin-left: 66.666667%;
}

.offset-xs-9 {
  margin-left: 75%;
}

.offset-xs-10 {
  margin-left: 83.333333%;
}

.offset-xs-11 {
  margin-left: 91.666667%;
}
/* breakpoint @ 544px */ 
@media (min-width: 34em) {
  .col-sm-1 {
    float: left;
    width: 8.333333%;
  }
  .col-sm-2 {
    float: left;
    width: 16.666667%;
  }
  .col-sm-3 {
    float: left;
    width: 25%;
  }
  .col-sm-4 {
    float: left;
    width: 33.333333%;
  }
  .col-sm-5 {
    float: left;
    width: 41.666667%;
  }
  .col-sm-6 {
    float: left;
    width: 50%;
  }
  .col-sm-7 {
    float: left;
    width: 58.333333%;
  }
  .col-sm-8 {
    float: left;
    width: 66.666667%;
  }
  .col-sm-9 {
    float: left;
    width: 75%;
  }
  .col-sm-10 {
    float: left;
    width: 83.333333%;
  }
  .col-sm-11 {
    float: left;
    width: 91.666667%;
  }
  .col-sm-12 {
    float: left;
    width: 100%;
  }
  .pull-sm-0 {
    right: auto;
  }
  .pull-sm-1 {
    right: 8.333333%;
  }
  .pull-sm-2 {
    right: 16.666667%;
  }
  .pull-sm-3 {
    right: 25%;
  }
  .pull-sm-4 {
    right: 33.333333%;
  }
  .pull-sm-5 {
    right: 41.666667%;
  }
  .pull-sm-6 {
    right: 50%;
  }
  .pull-sm-7 {
    right: 58.333333%;
  }
  .pull-sm-8 {
    right: 66.666667%;
  }
  .pull-sm-9 {
    right: 75%;
  }
  .pull-sm-10 {
    right: 83.333333%;
  }
  .pull-sm-11 {
    right: 91.666667%;
  }
  .pull-sm-12 {
    right: 100%;
  }
  .push-sm-0 {
    left: auto;
  }
  .push-sm-1 {
    left: 8.333333%;
  }
  .push-sm-2 {
    left: 16.666667%;
  }
  .push-sm-3 {
    left: 25%;
  }
  .push-sm-4 {
    left: 33.333333%;
  }
  .push-sm-5 {
    left: 41.666667%;
  }
  .push-sm-6 {
    left: 50%;
  }
  .push-sm-7 {
    left: 58.333333%;
  }
  .push-sm-8 {
    left: 66.666667%;
  }
  .push-sm-9 {
    left: 75%;
  }
  .push-sm-10 {
    left: 83.333333%;
  }
  .push-sm-11 {
    left: 91.666667%;
  }
  .push-sm-12 {
    left: 100%;
  }
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}
/* breakpoint @ 768px */ 
@media (min-width: 48em) {
  .col-md-1 {
    float: left;
    width: 8.333333%;
  }
  .col-md-2 {
    float: left;
    width: 16.666667%;
  }
  .col-md-3 {
    float: left;
    width: 25%;
  }
  .col-md-4 {
    float: left;
    width: 33.333333%;
  }
  .col-md-5 {
    float: left;
    width: 41.666667%;
  }
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-7 {
    float: left;
    width: 58.333333%;
  }
  .col-md-8 {
    float: left;
    width: 66.666667%;
  }
  .col-md-9 {
    float: left;
    width: 75%;
  }
  .col-md-10 {
    float: left;
    width: 83.333333%;
  }
  .col-md-11 {
    float: left;
    width: 91.666667%;
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }
  .pull-md-0 {
    right: auto;
  }
  .pull-md-1 {
    right: 8.333333%;
  }
  .pull-md-2 {
    right: 16.666667%;
  }
  .pull-md-3 {
    right: 25%;
  }
  .pull-md-4 {
    right: 33.333333%;
  }
  .pull-md-5 {
    right: 41.666667%;
  }
  .pull-md-6 {
    right: 50%;
  }
  .pull-md-7 {
    right: 58.333333%;
  }
  .pull-md-8 {
    right: 66.666667%;
  }
  .pull-md-9 {
    right: 75%;
  }
  .pull-md-10 {
    right: 83.333333%;
  }
  .pull-md-11 {
    right: 91.666667%;
  }
  .pull-md-12 {
    right: 100%;
  }
  .push-md-0 {
    left: auto;
  }
  .push-md-1 {
    left: 8.333333%;
  }
  .push-md-2 {
    left: 16.666667%;
  }
  .push-md-3 {
    left: 25%;
  }
  .push-md-4 {
    left: 33.333333%;
  }
  .push-md-5 {
    left: 41.666667%;
  }
  .push-md-6 {
    left: 50%;
  }
  .push-md-7 {
    left: 58.333333%;
  }
  .push-md-8 {
    left: 66.666667%;
  }
  .push-md-9 {
    left: 75%;
  }
  .push-md-10 {
    left: 83.333333%;
  }
  .push-md-11 {
    left: 91.666667%;
  }
  .push-md-12 {
    left: 100%;
  }
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}
/* breakpoint @ 992px */
@media (min-width: 62em) {
  .col-lg-1 {
    float: left;
    width: 8.333333%;
  }
  .col-lg-2 {
    float: left;
    width: 16.666667%;
  }
  .col-lg-3 {
    float: left;
    width: 25%;
  }
  .col-lg-4 {
    float: left;
    width: 33.333333%;
  }
  .col-lg-5 {
    float: left;
    width: 41.666667%;
  }
  .col-lg-6 {
    float: left;
    width: 50%;
  }
  .col-lg-7 {
    float: left;
    width: 58.333333%;
  }
  .col-lg-8 {
    float: left;
    width: 66.666667%;
  }
  .col-lg-9 {
    float: left;
    width: 75%;
  }
  .col-lg-10 {
    float: left;
    width: 83.333333%;
  }
  .col-lg-11 {
    float: left;
    width: 91.666667%;
  }
  .col-lg-12 {
    float: left;
    width: 100%;
  }
  .pull-lg-0 {
    right: auto;
  }
  .pull-lg-1 {
    right: 8.333333%;
  }
  .pull-lg-2 {
    right: 16.666667%;
  }
  .pull-lg-3 {
    right: 25%;
  }
  .pull-lg-4 {
    right: 33.333333%;
  }
  .pull-lg-5 {
    right: 41.666667%;
  }
  .pull-lg-6 {
    right: 50%;
  }
  .pull-lg-7 {
    right: 58.333333%;
  }
  .pull-lg-8 {
    right: 66.666667%;
  }
  .pull-lg-9 {
    right: 75%;
  }
  .pull-lg-10 {
    right: 83.333333%;
  }
  .pull-lg-11 {
    right: 91.666667%;
  }
  .pull-lg-12 {
    right: 100%;
  }
  .push-lg-0 {
    left: auto;
  }
  .push-lg-1 {
    left: 8.333333%;
  }
  .push-lg-2 {
    left: 16.666667%;
  }
  .push-lg-3 {
    left: 25%;
  }
  .push-lg-4 {
    left: 33.333333%;
  }
  .push-lg-5 {
    left: 41.666667%;
  }
  .push-lg-6 {
    left: 50%;
  }
  .push-lg-7 {
    left: 58.333333%;
  }
  .push-lg-8 {
    left: 66.666667%;
  }
  .push-lg-9 {
    left: 75%;
  }
  .push-lg-10 {
    left: 83.333333%;
  }
  .push-lg-11 {
    left: 91.666667%;
  }
  .push-lg-12 {
    left: 100%;
  }
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}
/* breakpoint @ 1200px */
@media (min-width: 75em) {
  .col-xl-1 {
    float: left;
    width: 8.333333%;
  }
  .col-xl-2 {
    float: left;
    width: 16.666667%;
  }
  .col-xl-3 {
    float: left;
    width: 25%;
  }
  .col-xl-4 {
    float: left;
    width: 33.333333%;
  }
  .col-xl-5 {
    float: left;
    width: 41.666667%;
  }
  .col-xl-6 {
    float: left;
    width: 50%;
  }
  .col-xl-7 {
    float: left;
    width: 58.333333%;
  }
  .col-xl-8 {
    float: left;
    width: 66.666667%;
  }
  .col-xl-9 {
    float: left;
    width: 75%;
  }
  .col-xl-10 {
    float: left;
    width: 83.333333%;
  }
  .col-xl-11 {
    float: left;
    width: 91.666667%;
  }
  .col-xl-12 {
    float: left;
    width: 100%;
  }
  .pull-xl-0 {
    right: auto;
  }
  .pull-xl-1 {
    right: 8.333333%;
  }
  .pull-xl-2 {
    right: 16.666667%;
  }
  .pull-xl-3 {
    right: 25%;
  }
  .pull-xl-4 {
    right: 33.333333%;
  }
  .pull-xl-5 {
    right: 41.666667%;
  }
  .pull-xl-6 {
    right: 50%;
  }
  .pull-xl-7 {
    right: 58.333333%;
  }
  .pull-xl-8 {
    right: 66.666667%;
  }
  .pull-xl-9 {
    right: 75%;
  }
  .pull-xl-10 {
    right: 83.333333%;
  }
  .pull-xl-11 {
    right: 91.666667%;
  }
  .pull-xl-12 {
    right: 100%;
  }
  .push-xl-0 {
    left: auto;
  }
  .push-xl-1 {
    left: 8.333333%;
  }
  .push-xl-2 {
    left: 16.666667%;
  }
  .push-xl-3 {
    left: 25%;
  }
  .push-xl-4 {
    left: 33.333333%;
  }
  .push-xl-5 {
    left: 41.666667%;
  }
  .push-xl-6 {
    left: 50%;
  }
  .push-xl-7 {
    left: 58.333333%;
  }
  .push-xl-8 {
    left: 66.666667%;
  }
  .push-xl-9 {
    left: 75%;
  }
  .push-xl-10 {
    left: 83.333333%;
  }
  .push-xl-11 {
    left: 91.666667%;
  }
  .push-xl-12 {
    left: 100%;
  }
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   
   
   
/* ----------- */
/* GENERAL CSS */
/* ----------- */
   
*{
	font-family:Exo; 
}

.topBar{
	width:100%;
}

.container{
	background-color:rgba(250,250,250,1);
	box-shadow: 0px 0px 70px 50px rgba(100,103,101,0.4);
	background-image: url("../img/hhb1.jpg");
	background-size: 100%;
}
    

.fileHeader{
	width:80%;
	text-align: center;
	font-size: 50px;
	margin:0.5em;
    text-shadow: 4px 4px 15px brown;
	color:white;
}

@media (max-width: 538px) {
	.fileHeader{
		text-align: center;
		font-size: 25px;
	}
	.page-header{
		font-size: 24px;
	}
	
}

h2{
	text-align: center;
	font-weight: bold;
	color: white;
    text-shadow: 4px 4px 25px black;

	
}

.navDiv{
	width:102%;
	height: auto;
	padding-top: 0.3em;
	padding-bottom:0.3em;
	background-color: rgba(0,0,0,0.6);
	display:inline-block;
	margin: 0 auto;	
	overflow: hidden;
	border: 8px;
	border-color: white;
	border-top-style: double;
    border-bottom-style: double;
	padding-left:0.5em;
	margin-left:-12px;

}

.title-container{
	width:100%;
	/* background-color: rgba(255,255,255,0.7);  */
	height: auto;
	margin: 0 auto;
	padding: 0.2em;
	/* margin-bottom: 2em; */
}

@media (max-width: 500px) {
	.link-container a{
		font-size:18px;
	}
	
}

.logo{
	width:9%;
	/* background-color:blue; */
	float:left;
	margin: 1em;
	height:auto;
	background-image: url("../img/starbucksLogo.png");
	background-size: 100%;
}

.link-container{
    list-style:none;
    margin-right:2em;
    padding:0.1em;
    text-align:center;
	width:100%;
	float:right;
	 /* background-color:red;  */
}

.ul{
	margin: 0 auto;
	}
.link{
	width:20%;
	text-align: center;
	color: white;
	font-size: 27px;
	font-weight: bold;
}

.link-container li{
    display:inline;
}

.link-container a{
    display:inline-block;
    padding:20px;
	text-decoration: none;
	/* color:green; */
}

.page-header{
	text-align:center;
	margin: 1em;
	color: white;
	text-shadow: 4px 4px 25px black;
}

.footer{
	width:30%;
	color:white;
	text-decoration:none;
}





/* -------- */
/* INDEX CSS */
/* -------- */

.SFLconceptMain{
	/* background-color: rgba(10,101,21,0.7); */
	height: auto;
	padding: 0.8em;
	margin: 0 auto;
	margin-bottom: 2.5em;
	border: 5px;
	border-radius: 25px;
	border-style: ridge;
	border-color: white;
	/* box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.3); */
}

.SFLconceptDrinks{
	/* background-color: rgba(10,101,21,0.7); */
	height: auto;
	margin-bottom: 2em;
	padding: 0.8em;
	border: 5px;
	border-radius: 25px;
	border-style: double dashed;
	border-color: white;

	/* box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.3); */

}

.SFLconceptWinners{
	/* background-color: rgba(10,101,21,0.7); */
	height: auto;
	margin-bottom: 2em;
	padding: 0.8em;
	border: 5px;
	border-radius: 25px;
	border-style: double dashed;
	border-color: white;
	/* box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.3); */
}

.homeTxt1{
	font-size: 1em;
	text-align: justify;
	color:white; 
	 text-shadow: 4px 4px 25px black;
}

.homeTxt2{
	font-size: 1em;
	text-align: justify;
	color:white; 
	 text-shadow: 4px 4px 25px black;
}

.homeTxt3{
	font-size: 1em;
	text-align: justify;
	 color:white; 
	  text-shadow: 4px 4px 25px black;
}

@media  (min-width: 768px) {
    .homeTxt1{
	font-size: 20px;
	}

	.homeTxt2{
		font-size: 20px;
	}

	.homeTxt3{
		font-size: 20px;
	}
}







/* -------- */
/* FORM CSS */
/* -------- */

.form{
	/* background-color: rgba(10,101,21,0.7); */
	border-radius: 10px;
	padding: 1.5em;
	margin-bottom:1em;
	float:left;
	border: 5px;
	border-radius: 25px;
	border-style: double dashed;
	border-color: white;
}
#form_call{
	width:100%;
	text-align: center;
	margin-bottom:2em;
	color:white;
}

.question{
	float:left;
	text-align:right;
	width: 28%;
	margin-right:5px;
	margin-bottom: 1.1em;
	margin-top:0.2em;
	/* background:blue; */
	clear: left;
	color: white;
	 text-shadow: 4px 4px 25px black;
}

.answer{
	float:right;
	width:65%;
	margin-bottom: 0.9em;
	/* background:red; */
	
}

#agree_text{
	width:60%;
	float: right;
	font-size: 14px;
	color: white;
	 text-shadow: 4px 4px 25px black;
	
}

.submit{
	width:6em;
	height: 60px;
	float: right;
	margin-right:1em;
	border-radius:10px;
	background:rgba(200,210,200,0.9);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    width: 70%;
	text-align: center;
}

#modal-txt{
	text-align: center;
	width:70%;
	margin: auto;
	margin-bottom: 30px;
}

#modal-btn{
	background-color: grey;
	padding: 0.3em;
	text-decoration: none;
}

.form_img{
	/* background-color: rgba(10,101,21,0.7); */
	margin: 0 auto;
	padding: 1.3em;
	border-radius: 10px;
	float:right;
	margin-bottom: 1em;
	border: 5px;
	border-radius: 25px;
	border-style: double dashed;
	border-color: white;
}

.form-text-btn1{
	width:100%;
	padding:0.5em;
}

.buttonHolder{
	width: 100%;
}

.toggleBtn{
	border-radius:10px;
	font-size:27px;
	margin: 0 auto;
	margin-top: 10px;
	width: 14%;
	padding: 0.14em;
	background-color:rgba(200,210,200,1);
}

.actionBtn{
	border-radius:10px;
	font-size:20px;
	margin: 0 auto;
	margin-top: 10px;
	width: 83%;
	padding: 0.5em;
	border: 2px solid white;
}

.homeTxt{
	color: white;
	 text-shadow: 4px 4px 25px black;
	 font-size: 22px;
	
}
.prize{
	font-weight: bold; 
	color:white;
	text-align: center;
	 text-shadow: 4px 4px 25px black;
}






/* -------- */
/* DRINKS CSS */
/* -------- */

ul.tab {
    list-style-type: none;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
	padding: 0;
}

/* Float the list items side by side */
ul.tab li {
	float: left;
	width: 50%;
	/* background-color: blue; */
	}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 22px;
	margin: 0 auto;
	width: 100%;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: rgba(10,100,10,0.5);
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.drinkCont{
	height: auto;
	/* background-color: red; */
	/* border: 1px solid #ccc; */
	padding: 10px;
	margin-bottom: 0.7em;
	/* background-color: rgba(255,255,255,0.1) */

}

.drinkPic{
	height:auto;
	width: 85%;
	background-color: green;
	margin: 0 auto;
	box-shadow: 0px 0px 60px 0px rgba(200,200,200,0.7); 
	margin-bottom: 10px;
}

.drinkName{
	text-align: center;
	margin: 0;
	padding: 0;
	width:100%;
	color: white;
	 text-shadow: 4px 4px 25px black;
	
}

.desc-text-btn{
	border-radius:10px;
	font-size:16px;
	margin: 0 auto;
	margin-top: 10px;
	width: 100%;
	padding: 0.14em;
	background-color:rgba(255,255,255,0.8);
	border-radius: 7px;
}

@media (min-width: 400px) {
  .desc-text-btn{ 
	width: 100%;
	margin: 0 auto;
    font-size: 16px;
  } 
}

.drinkDescription{
	font-size:16px;
	color: white;
	text-shadow: 4px 4px 25px black;
	padding-left:0.4em;
	padding-right:0.4em;
}








/* ---------------- */
/* ---WINNERS CSS--- */
/* ---------------- */
.winners{
	padding:1em;
	/* background-color:rgba(10,101,21,0.7); */
	width: 80%;
	margin: 0 auto;
	margin-bottom:2em;
	border: 5px;
	border-radius: 25px;
	border-style: double dashed;
	border-color: white;
}

.winner-pic{
	padding:1.4em; 
	margin: 0;
	margin: 0 auto;
	height: auto;
}

.winner-name{
	margin:0;
	color: white;
	 text-shadow: 4px 4px 25px black;
	
}

.winner-location{
	margin:0;
	margin-bottom: 2em;
	color: white;
	 text-shadow: 4px 4px 25px black;
}
.winner-info{
	padding: 1.5em;
	color: white;
	 text-shadow: 4px 4px 25px black;
	
}

.winner-description{
	font-size:14px;
	 text-shadow: 4px 4px 25px black;
}

@media (min-width: 1000px){
	
	.winner-description{
		font-size: 20px;
	}
}













/* ==========================================================================
   Helper classes
   ========================================================================== */
.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-xs-left {
  text-align: left !important;
}

.text-xs-right {
  text-align: right !important;
}

.text-xs-center {
  text-align: center !important;
}

@media (min-width: 544px) {
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (min-width: 1200px) {
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}


.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 543px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 544px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after  {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.row:after {
    clear: both;
}

.display-block {
  display: block !important;
}

.display-inline-block {
  display: inline-block !important;
}

.display-inline {
  display: inline !important;
}

.pull-xs-left {
  float: left !important;
}

.pull-xs-right {
  float: right !important;
}

.pull-xs-none {
  float: none !important;
}

@media (min-width: 544px) {
  .pull-sm-left {
    float: left !important;
  }
  .pull-sm-right {
    float: right !important;
  }
  .pull-sm-none {
    float: none !important;
  }
}

@media (min-width: 768px) {
  .pull-md-left {
    float: left !important;
  }
  .pull-md-right {
    float: right !important;
  }
  .pull-md-none {
    float: none !important;
  }
}

@media (min-width: 992px) {
  .pull-lg-left {
    float: left !important;
  }
  .pull-lg-right {
    float: right !important;
  }
  .pull-lg-none {
    float: none !important;
  }
}

@media (min-width: 1200px) {
  .pull-xl-left {
    float: left !important;
  }
  .pull-xl-right {
    float: right !important;
  }
  .pull-xl-none {
    float: none !important;
  }
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}